body {
    background: url('images_zozor only/fond_jaune.png');
    width: 80%;
    margin: 0 auto;
    position: center;
}

header {
    height: 100px;
    width: 100%;
}

.titulo {
    width: 58%;
    min-height: 1px;
    position: relative;
    float: left;
    font-size: 100%;
}

.tmenu {
    width: 40%;
    min-height: 1px;
    position: relative;
    float: left;
    font-size: 100%;
    border-radius: 15px;
    padding-top: 100px;
}

.tmenu a {
    text-decoration: none;
    color: black;
}

nav {
    border-top: 2px solid black;
    position: relative;
    display: inline-block;
}

nav img {
    border-radius: 10px;
}

.pieimg {
    position: absolute;
    top: 90%;
    left: 17%;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    transform: translate(-17%, -50%);
    background-color: rgba(22, 21, 21, 0.6);
    border-radius: 10px;
}

.pieimg p {
    margin-left: 5px;
    color: white;
}

.texto {
    width: 77%;
}

.boton {
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #9b090b;
    border-radius: 5px;
    font-size: 100%;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

section {
    width: 90%;
}

article {
    width: 64%;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 10px;
    position: relative;
    float: left;
    font-size: 100%;
    margin-bottom: 4px;
    margin-left: 8px;
}

.triangulo {
    width: 1.3%;
    min-height: 1px;
    padding-top: 10%;
    float: left;
}

aside {
    width: 25%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    position: relative;
    float: left;
    font-size: 100%;
    background-color: rgba(22, 21, 21, 0.6);
    border-radius: 15px;
}

aside p {
    color: white;
    font-size: 100%;
}

aside h2 {
    color: white;
    font-size: 120%;
}

.donkey {
    display: block;
    margin: auto;
}

.row {
    width: 90%;
    margin-left: 2%;
}

.columna {
    width: 30%;
    min-height: 1px;
    position: relative;
    float: left;
    font-size: 100%;
    margin-right: 2%;
}

p {
    text-align: justify;
}

body espacio {
    width: 88%;
    height: 30px;
    overflow: hidden;
    float: left;
}

#piediv {
    margin-left: 2%;
    border-top: 2px solid black;
}

#piediv img {
    display: block;
    margin: auto;
}

#stamigos {
    margin-left: 10px;
}

.amics {
    width: 50%;
    position: relative;
    float: left;
}

.amics h5 {
    margin-top: -15px;
    color: rgb(145, 12, 12);
}

.amics img {
    margin-right: 2px;
}